*.ipch
*.vsidx
/SoroS Physics Engine/SoroS Physics Engine/x64
/SoroS Physics Engine/.vs
/SoroS Physics Engine/x64
/SoroS Physics Engine/SoroS Ph.55ffafc6
/SoroS Physics Engine/Src/SoroS Physics Engine/x64
/SoroS Physics Engine/Src/.vs
/SoroS Physics Engine/Src/x64
/SoroS Physics Engine/Src/SoroS Ph.55ffafc6
